<html>
	<head>
		<title>Артемий</title>
		<link rel="stylesheet" href="build/styles.css">
    <script src="https://unpkg.com/vue"></script>
	</head>
	<body>

    <header>
      <div class="name">
      <span class="firstname">Artemiy</span> 
      <span class="lastname">Nikonov</span>
      </div>
    </header>
    
    <div class="content" >


      <div class="block" id="contacts">
        <div class="contacts-list">
          <div v-for="(item, index) in contacts" class="contact">
            <div class="contact-text"> {{ item.text }} </div>
            <div class="contact-link">
              <a v-bind:href="item.path">{{ item.name }} </a>
            </div>
          </div>
        </div>
      </div>


<!--       <div class="block" id="posts">
        <div class="posts-list">
          <div v-for="(item, index) in posts" class="contact">
            <div class="post-name" v-on:click="selected = item; show()" > {{ item }} </div>
          </div>
          <div class="post-selected" v-if="selected">
            <h4> {{ post.header }} </h4>
            <p>  {{ post.text }}   </p>
          </div>
        </div>
      </div>
 -->

  		<!--<footer> 
  			<div class="about">
  				<div class="owner"> Артемий </div>
  			</div>
  		</footer> -->
    </div>

		<script type="text/javascript" src="build/bundle.js"></script>

	</body>
</html>
