footer
	@include flexbox
	@include flex(1 1 auto)
	flex-flow: column
	position: absolute
	bottom: 0
	align-items: center
	.controls
		width: 100%
		ul.list
			margin: $gutter
			padding: 0
			list-style: none
			display: block
			li
				display: inline-block
				a
					margin: $gutter
					text-decoration: none
					color: white
					border-bottom: 1px solid #fff
					transition: all .15s linear
					filter: blur(1px)
				a:hover
					filter: blur(0px)
					border-bottom: 1px solid springgreen

	.about
		@include flexbox
		flex-flow: row
		align-items: center
		justify-content: center
		margin: 0 .5*$gutter .5*$gutter
		color: white
		.owner
			margin: $gutter
		.divider
			height: 1.5*$gutter
			width: 1px
			background-color: white
		.page
			margin: $gutter
