html, body
  height: 100%
  width: 100%
  margin: 0

body
  font-family: 'Noto Sans', sans-serif
  font-size: 16px
  background: linear-gradient(20deg, $background-color, #222)

header
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  text-align: center
  box-sizing: border-box
  color: $primary-color
  z-index: -9999

  .name
    @include flexbox
    @include flex(1 1 auto)
    font-family: $font-handwriting
    font-size: 8rem
    height: 100%
    width: 100%
    flex-flow: row
    justify-content: center
    align-items: center

    justify-content: center
    $rotate-angle: -10deg
    .firstname
      @include rotate($rotate-angle)
      display: inline-block
      left: 6rem
    .lastname
      @include rotate($rotate-angle)
      display: inline-block
      position: relative
      top: 4rem
      left: -8rem

.content
  @include flexbox
  @include flex(1 1 auto)
  max-width: $main-width
  min-height: 100%
  flex-flow: column
  margin: 0 auto

  .block
    padding: $gutter
    margin-bottom: $gutter
    .contacts
      text-align: right
      font-size: 3rem
    .post
      &
        max-width: 600px
        margin: 1*$gutter auto
      h1.post-header
        width: 100%
        color: white  
        margin-top: 0
        margin-bottom: .5rem
        padding: $gutter 2*$gutter 0
        background-color: $invisible
        box-sizing: border-box

      .post-body
        background-color: white
        p:first-child
          padding-top: $gutter
        p
          margin: 0
          padding: 0 2*$gutter
          padding-bottom: $gutter
        p.formula
          color: #444
          text-align: center
          font-style: italic 
        blockquote
          background-color: #ccc
          width: 100%
          margin: 0
          box-sizing: border-box
          padding: $gutter 2*$gutter 
          p
            padding: 0
            padding-bottom: $gutter
          p:first-child
            padding-top: 0
        img
          height: 120px
          display: block
          margin: $gutter auto 
          padding-bottom: $gutter
