html, body
  height: 100%
  width: 100%
  margin: 0

body
  font-family: 'Noto Sans', sans-serif
  font-size: 16px

.content
  @include flexbox
  @include flex(1 1 auto)
  max-width: $main-width
  min-height: 100%
  flex-flow: column
  margin: 0 auto
  justify-content: center

  .block
    padding: $gutter
    margin-bottom: $gutter

    .contacts
      text-align: right
      font-size: 3rem
