$gutter: 16px

$text-light-color: #ccc

$primary-color: #333
$primary-color-light: #fff
$secondary-color: #b06521

$primary-alpha: 0.7

$main-width: 1000px

$color-block-content: $primary-color-light
$alpha-block-content: $primary-alpha

$color-headers: $secondary-color
