$gutter: 16px

$text-light-color: #ccc

$primary-color: #800080
$primary-color-light: #fff
$secondary-color: #fff

$primary-alpha: 0.7

$main-width: 1000px

$color-block-content: $primary-color-light
$alpha-block-content: $primary-alpha

$color-headers: $primary-color
$color-background: $primary-color